body {
  /* i wanted to incorporate colours from the Richard Mille website and have it change while the user scrolls so i figured out how to create a gradient background online */
  height: fit-content; /* Used to enable scrolling */
  background: linear-gradient(
    180deg,
    #ffb8fd 0%,
    #88d4ff 25%,
    #2d73f4 50%,
    #ffa632 75%,
    #190337 100%
  );
  /* setting up flex box */
  display: flex;
  margin: auto;
  flex-direction: column;
  font-optical-sizing: auto;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 1.1rem;
}

h1 {
  font-family: "Wallpoet", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  border-radius: 25px;
}

h2 {
  font-size: 1.7rem;
  font-weight: 400;
  align-self: start;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

/* specifyin each corner of border radius so that the top and bottom of the question and answer boxes are square at the ends */
.lefttop {
  border-radius: 25px 25px 25px 0px;
}
.leftbot {
  border-radius: 0px 25px 25px 25px;
}
.righttop {
  border-radius: 25px 25px 0px 25px;
}
.rightbot {
  border-radius: 25px 0px 25px 25px;
}

.outerleft {
  max-width: 75%;
  border: 10px solid #ffffff;
  border-radius: 40px;
  min-height: 100px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;
  margin: 30px;
  padding: 10px;
}

.outerright {
  max-width: 75%;
  border: 10px solid #ffffff;
  border-radius: 40px;
  min-height: 100px;
  display: flex;
  justify-content: end;
  align-items: end;
  align-self: end;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  gap: 10px;
  margin: 30px;
  padding: 10px;
}

.outercentre {
  width: fit-content;
  border: 10px solid #ffffff;
  border-radius: 40px;
  min-height: 100px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  margin: 30px;
  padding: 10px;
}

.whitebox {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 15px;
}
